html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}
main, header{
    max-width: 60rem;
    margin: auto;
}
main .load-flux{
    font-size: 1.8rem;
}
.cars-list li{
    background-color: #cff4fd;
    margin-bottom: 2rem;
}
.cars-list li p{
    margin-bottom: 0;
    font-size: 1.8rem;
    padding: 0.8rem;
}
.cars-list li p:nth-child(2n){
    background-color: #0dcbf0;
    border-radius: 0.5rem;
}
.cars-list img{
    width: 100%;
}